  <div class="page-header page-header--dark">
    <div class="col-xs-12 col-md-2 page-header-logo">
      <a class="logo" href="https://www.paymentwall.com">
        <svg class="page-header__logo-img">
          <use xlink:href="#figure-logo-api" class="figure-logo"></use>
        </svg>
      </a>
    </div>
    <div id="section-icon">
      <a href="javascript:void(0);" style="font-size: 20px; color: #fff;" class="icon">&#9776;</a>
    </div>
    <div class="col-md-10 col-xs-12 page-header-code-tabs">
      <div class="document-issues">
      </div>
      <ul class="code-tabs">
        <li>
          <a class="code-tabs__tab is-active" href="#php">Php</a>
        </li>
        <li>
          <a class="code-tabs__tab" href="#js">Node</a>
        </li>
        <li>
          <a class="code-tabs__tab" href="#java">Java</a>
        </li>
        <li>
          <a class="code-tabs__tab" href="#ruby">Ruby</a>
        </li>
        <li>
          <a class="code-tabs__tab" href="#python">Python</a>
        </li>
        <li>
          <a class="code-tabs__tab" href="#dotnet">.Net</a>
        </li>
        <li>
          <a class="code-tabs__tab" href="#curl">cURL</a>
        </li>
      </ul>

    </div>
  </div>