  <div class="page-header page-header--dark">
    <div class="container-fluid page-header-box">
      <div class="page-header-logo">
      <a class="logo" href="https://www.paymentwall.com">
        <svg class="page-header__logo-img">
        <use xlink:href="#figure-logo-doc" class="figure-logo"></use>
        </svg>
      </a>
    </div>
    <div class="page-header-buttons">
      <div class="empty-block"></div>
      <div class="page-header__buttons">
        <a class="page-header__button page-header__button--login button button--tertiary button--xs" href="https://api.paymentwall.com/pwaccount/signin">Log in</a>
      </div>
    </div>
    </div>
  </div>