<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">
</head>
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/highlight.css">
<link rel="stylesheet" type="text/css" href="/css/pwdoc.css">
<link rel="shortcut icon" href="/textures/pic/favicon.png" type="image/x-icon">
<script src="/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/js/pwdocs.js"></script>
<script src="https://api.paymentwall.com/brick/brick.1.4.js"></script>